---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import VacationCard from "../components/VacationCard.astro";

const cardData = [
  {
    img: "images/cruise.jpg",
    title: "Cruises",
    text: "Cruise Text",
  },
  {
    img: "images/transportation.jpg",
    title: "Route Planner",
    text: "Route Planner Text",
  },
];
---

<Layout title="Vacation Website">
  <main>
    <div class="relative">
      <div class="vacation-covers">
        <div><img src="images/taniti.jpg" class="cover-img" /></div>
        <div><img src="images/waterfall.jpg" class="cover-img" /></div>
        <div><img src="images/beachhut.jpg" class="cover-img" /></div>
      </div>

      <div class="vacation-slides absolute left-10 bottom-10 w-4/6">
        <div><img src="images/beach.jpg" class="max-w-full" /></div>
        <div><img src="images/boardwalk.jpg" class="max-w-full" /></div>
        <div><img src="images/palmtrees.jpg" class="max-w-full" /></div>
      </div>
    </div>

    <div class="container mx-auto">
      <h1 class="mt-5 text-center">Begin Planning Your Vacation</h1>
      <div class="grid grid-cols-2 gap-3 mt-5">
        <VacationCard
          img="images/flight.jpg"
          title="Flights"
          text="Find deals on flights to Taniti. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."
        />
        <VacationCard
          img="images/hotel.jpg"
          title="Hotels and Lodging"
          text="Whether you are looking for a fancy resort, a more modest room, or a trendy beach house, a wide variety of lodging options are available! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore."
        />
        {
          cardData.map((card) => {
            return (
              <VacationCard
                img={card.img}
                title={card.title}
                text={card.text}
              />
            );
          })
        }
      </div>
    </div>
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  .cover-img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
  }

  .vacation-slides div {
    margin: 10px;
  }

@media (max-width: 768px) {
  h1 {
  font-size: calc(1.375rem + 1.5vw);
  }
}
</style>

<script
  type="text/javascript"
  src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
<link
  rel="stylesheet"
  type="text/css"
  href="http://kenwheeler.github.io/slick/slick/slick-theme.css"
/>

<script>
  $(document).ready(function () {
    $(".vacation-covers").slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: ".vacation-slides",
    });
    $(".vacation-slides").slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: ".vacation-covers",
      dots: true,
      arrows: true,
      centerMode: true,
      centerPadding: "40px",
      autoplay: true,
      focusOnSelect: true,
    });
  });
</script>
