---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Alata"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-screen">
    <header class="header">
      <div class="responsive-bar">
        <div class="menu">
          <h4>Menu</h4>
        </div>
      </div>
      <nav>
        <div class="logo">
          <img
            src="https://via.placeholder.com/100x100/000000/FFFFFF?Text=Logo"
            alt=""
          />
        </div>
            <div role="button" id="openbtn" class="openbtn mobile-nav-button" tabindex="0" aria-label="Open Mobile Menu">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Explore</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
    </header>

<div id="mobileNav" class="mobile-menu mobile-nav-button block md:hidden">

    <div class="mt-3 mb-2 w-full px-2">
       <!-- <input id="mobileSearchNav" class="mobile-seach-input block appearance-none w-full p-3 mb-1 leading-normal border rounded-full" type="search" name="q" aria-label="Search" placeholder="Search.."> -->
    </div>

        <li>
            <span role="button" class="mobile-dropdown rv-drop uppercase" aria-expanded="false" tabindex="0">Dropdown</span>

                <ul class="nested">
                    <li>
                        <li><a href="#">Link Name</a></li>
                    </li>
                </ul>
        <li>
            <span role="button" class="mobile-dropdown uppercase" aria-expanded="false" tabindex="0">Dropdown</span>
            <ul class="nested">
                <li><a href="#">Link Name</a></li>
            </ul>
        </li>
        <li>
            <span role="button" class="mobile-dropdown uppercase" aria-expanded="false" tabindex="0">Dropdown</span>
            <ul class="nested">
                <li><a href="#">Link Name</a></li>
            </ul>
        </li>
        <li>
            <span role="button" class="mobile-dropdown uppercase" aria-expanded="false" tabindex="0">Dropdown</span>
            <ul class="nested">
                <li><a href="#">Link Name</a></li>
            </ul>
        </li>

    </ul>
</div>


    <slot />
  </body>

<div class="container mx-auto sm:px-4 md:my-5 border-t">
  <footer class="py-5">
    <div class="flex flex-wrap ">
      <div class="w-1/2 md:w-1/5 pr-4 pl-4 mb-3">
        <h5>Section</h5>
        <ul class="flex flex-wrap list-none pl-0 mb-0 flex-col">
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">Home</a></li>
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">Features</a></li>
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">Pricing</a></li>
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">FAQs</a></li>
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">About</a></li>
        </ul>
      </div>

      <div class="w-1/2 md:w-1/5 pr-4 pl-4 mb-3">
        <h5>Section</h5>
        <ul class="flex flex-wrap list-none pl-0 mb-0 flex-col">
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">Home</a></li>
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">Features</a></li>
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">Pricing</a></li>
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">FAQs</a></li>
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">About</a></li>
        </ul>
      </div>

      <div class="w-1/2 md:w-1/5 pr-4 pl-4 mb-3">
        <h5>Section</h5>
        <ul class="flex flex-wrap list-none pl-0 mb-0 flex-col">
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">Home</a></li>
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">Features</a></li>
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">Pricing</a></li>
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">FAQs</a></li>
          <li class=" mb-2"><a href="#" class="inline-block py-2 px-4 no-underline p-0 text-gray-700">About</a></li>
        </ul>
      </div>

      <div class="md:w-2/5 pr-4 pl-4 md:mx-1/6 mb-3">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="flex flex-col sm:flex-row w-full gap-2">
            <label for="newsletter1" class="visually-hidden">Email: </label>
            <input id="newsletter1" type="text" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" placeholder="Email address">
            <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-blue-600 text-white hover:bg-blue-600" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="flex flex-col sm:flex-row justify-between py-4 my-4 border-t">
      <p>&copy; 2022 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>



</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: "Alata";
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px 10px 15px;
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
    z-index: 40;
  }

  nav.solid {
    background-color: var(--primary);
    height: 80px;
    padding: 10px 50px 10px 15px;
  }

  .logo {
    display: block;
    float: left;
  }

  .logo img {
    height: 80px;
    transition: 0.5s;
    z-index: 100;
  }

  nav.solid .logo img {
    height: 60px;
  }

  nav ul {
    float: right;
    height: 80px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  @media (max-width: 768px) {
    nav ul {
      display: none;
      float: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
    }
  }

  nav ul li {
    list-style-type: none;
    text-align: center;
    box-sizing: border-box;
  }

  nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    border-radius: 500rem;
  }

  nav.solid ul {
    height: 60px;
  }

  nav.solid ul li a {
    color: #000;
    padding: 5px 15px;
  }

  nav ul li a:hover {
    color: #076d84;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(-5px);
  }

  .header {
    width: 100%;
    /* height: 100vh; */
    /* background-image: url("/images/taniti.jpg");
    background-size: cover; */
  }

  .section {
    padding: 100px;
  }

  .section h2 {
    margin: 0;
    padding: 0;
    font-size: 2em;
  }

  .section p {
    margin: 20px 0 0;
    padding: 0;
    font-size: 1.1em;
  }

  .responsive-bar {
    display: none;
    position: fixed;
    z-index: 1;
  }
  .active {
    display: block;
  }

  .slick-dots {
    z-index: 2;
  }

.mobile-menu {
    background-color: var(--primary);
    background-repeat: no-repeat;
    background-position: right bottom;
    color: #000;
    padding-top: 0px;
    width: 100%;
    height: 100vh;
    white-space: nowrap;
    position: fixed;
    top: 80px;
    left: 0;
    visibility: hidden;
    -webkit-transform: translateY(-115%);
    transform: translateY(-115%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out, visibility 0s 0.5s;
    transition: transform 0.5s ease-in-out, visibility 0s 0.5s;
    z-index: 49;
    max-width: 100%;
}

.mobile-seach-input {
  background-color: rgba(255,255,255, 0.3);
  background: linear-gradient(90deg, rgba(255,255,255,0.4) 25%, rgba(255,255,255,0) 100%);
  color: #FFF !important;
  border: 2px solid rgba(255,255,255, 0.5);
  transition: all 1.2s ease-in-out;
    opacity: 0;
    transform: translateY(250%);
}

.mobile-seach-input:focus {
  border: 2px solid rgba(255,255,255, 1);
outline: none;
background-color: rgba(255,255,255, 0.2);
  background: linear-gradient(90deg, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0) 100%);
}

.mobile-seach-input::placeholder { 
  color: #FFF;
  opacity: 1;
}

.mobile-menu a {
    color: #000;
    display: block;
}

    .mobile-menu a:hover {
        color: #000;
    }

.mobile-menu li {
    list-style: none;
    font-size: 16px;
    opacity: 0;
    transform: translateY(250%);
    transition: all 1.2s ease-in-out;
}


    .mobile-menu li a {
        margin: 0px 0px 0px 0px;
        display: block;
        text-decoration: none;
        font-size: 16px;
        border-bottom: none;
        color: #000;
        border: 1px solid rgba(0, 0, 0, .1);
    }

.mobile-menu-open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.mobile-menu-open .mobile-seach-input {
    opacity: 1;
    transform: skew(0) translateY(0);
}

.mobile-menu-open li {
    opacity: 1;
    transform: skew(0) translateY(0);
    
}

.mobile-dropdown {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #FFF;
    display: block;
    padding: 15px 0px 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    margin-top: 1px;
    font-weight: 400;
}

    .mobile-dropdown:focus, .mobile-menu li a:focus {
        outline: 2px solid var(--primary-light);
        outline-offset: -2px;
        transition: none;
    }

.mobile-down:focus {
    outline-offset: -3px;
    outline: 2px solid var(--primary-light);
}


.mobile-dropdown::after {
    font-family: 'icomoon';
    content: "\E923";
    font-size: 18px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
    color: var(--font);
    display: inline-block;
    float: right;
    margin-right: 25px;
    transition: 0.5s;
    margin-top: 1px;
}

.mobile-down {
    color: #FFF;
    transition: ease 0.5s;
    background-color: var(--primary);
}

    .mobile-down::after {
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Safari */
        transform: rotate(-90deg);
        transition: 0.5s;
        color: #FFF;
    }

/* #endregion */

.nested {
    display: none;
    background: #FFF;
    overflow: scroll;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.nested-types li a {
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}



.nested-types {
    overflow-x: scroll;
    overflow-y: hidden;
    background: #FFF;
    margin-bottom: 5px;
}

    .nested-types li {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 10px;
    }


    .nested-types::-webkit-scrollbar {
        height: 7px;
    }

    .nested-types::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: var(--primary);
    }

    .nested-types::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin: 8px;
        border: 2px solid transparent;
    }

.mobile-menu li.hide {
    display: none;
}

.openbtn {
    display: none;
}

.fixed-position {
    overflow: hidden;
}

@media (max-width: 768px) {
    .openbtn {
        cursor: pointer;
        color: #000;
        border: none;
        top: 11px;
        right: 16px;
        position: absolute;
        z-index: 51;
        background-size: 45px;
        background-repeat: no-repeat;
        width: 45px;
        display: block;
        transition: 0.5s ease;
        padding-left: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 3px;
        background-color: #000;
        margin: 6px 0;
        transition: 0.5s;
        z-index: 51;
    }

    .to-x {
        transition: 0.5s ease;
    }

        .to-x .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
            background-color: #FFF;
            border-radius: 0px;
        }

        .to-x .bar2 {
            opacity: 0;
        }

        .to-x .bar3 {
        transform: rotate(45deg) translate(-5px, -5px);
        background-color: #FFF;
        border-radius: 0px;
        }

      .slick-slide img:not(.cover-img) {
      display: none;
      }

  .slick-slide img {
      height: 75vh;
  }


  }
</style>

<script>
  $(window).on("scroll", function () {
    if ($(this).scrollTop() > 0 && $(this).width() > 768) {
      $("nav").addClass("solid");
    } else {
      $("nav").removeClass("solid");
    }
  });

  $(window).resize(function () {
    if ($(this).width() > 768) {
      $("nav ul").removeClass("active");
    }
  });

// Function to open mobile navigation
$('#openbtn').on('keypress click', function () {
    $("#openbtn").toggleClass("to-x");
    $("#mobileNav").toggleClass("mobile-menu-open");
    $('body').toggleClass("fixed-position");
    $("nav").toggleClass("solid");

    var currentPage = window.location.href;
});

// Toggles dropdown lists in mobile nav & changes aria-expanded attribute
$('.mobile-dropdown').on('keypress click', function (e) {
    e.preventDefault();
    if ($('.mobile-dropdown').not(this).hasClass('mobile-down')) {
        $('.mobile-dropdown').not(this).removeClass("mobile-down");
        $('.mobile-dropdown').not(this).attr("aria-expanded", "false");
        $('.mobile-dropdown').not(this).children(".bi").removeClass("white");
    }

    // closes all brands accordions when a main accordion is toggled
    $('.mobile-dropdown-brands').removeClass("mobile-down-brands");
    $('.mobile-dropdown-brands').attr("aria-expanded", "false");
    $('.nested-brands').siblings('li').removeClass('active');
    $('.nested-brands').slideUp();

    $(this).toggleClass("mobile-down");
    $(this).children(".bi").toggleClass("white");

    $(this).siblings('.nested').slideToggle(function () {
    }).parent('li').addClass('active')
        .siblings('li').removeClass('active')
        .children('.nested').slideUp();

    if ($(this).hasClass('mobile-down')) {
        $(this).attr("aria-expanded", "true");
        
    } else {
        $(this).attr("aria-expanded", "false");
    }
});

// Toggles Brand accordions in mobile menu
$('.mobile-dropdown-brands').on('keypress click', function (e) {
    e.preventDefault();

    if ($('.mobile-dropdown-brands').not(this).hasClass('mobile-down-brands')) {
        $('.mobile-dropdown-brands').not(this).removeClass("mobile-down-brands");
        $('.mobile-dropdown-brands').not(this).attr("aria-expanded", "false");
    }

    $(this).toggleClass("mobile-down-brands");

    $(this).siblings('.nested-brands').slideToggle(function () {
    }).parent('li').addClass('active')
        .siblings('li').removeClass('active')
        .children('.nested-brands').slideUp();

    if ($(this).hasClass('mobile-down-brands')) {
        $(this).attr("aria-expanded", "true");
    } else {
        $(this).attr("aria-expanded", "false");
    }
});

// Sets focus to the mobile menu open button if the focus leaves both the site header and mobile menu while menu is active
$('#mobileNav').on('focusout', function () {
    var $openbtn = $('.openbtn');
    var $sidenav = $('.mobile-menu *');
    var $siteheader = $('.site-header *');
    setTimeout(function () {
        var hasFocus = (!!($openbtn.find(':focus').length > 0)) || (!!($sidenav.find(':focus').length > 0)) || (!!($siteheader.find(':focus').length > 0));
        if ((!hasFocus) && ($('#openbtn').hasClass("to-x"))) {
            $(".openbtn").focus();
        }
        else {
        }
    }, 0);
});
</script>
